@import '../../sass/abstracts/variables';

.home {
    // display: flex;
    width: 100%;
    height: 80%;
    animation: fading forwards cubic-bezier(.26, .1, .27, 1.75) .45s;

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;

        .loginBtn {
            position: relative;
            background: transparent;
            border: none;
            font-size: 1.5rem;
            outline: none;
            cursor: pointer;

            &:hover {
                border-bottom: 1px solid $mainColor;
            }
        }

        .poster {
            height: 100%;
            // overflow: hidden;
            background: url("../../assets/img/poster.jpg") no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            padding: 2rem;

            &__title {
                font-size: 4vw;
                color: white;
                font-weight: 400;
                text-shadow: 2px 4px 10px rgba(0, 0, 0, .75);
            }

            &__action {
                width: 15rem;
                height: 3rem;
                margin: 1rem 0;
                background: $mainColor;
                font-weight: 600;
                outline: none;
                color: white;
                border: none;
                cursor: pointer;

                &:hover {
                    background: $secColor;
                }
            }
        }
    }

    .main {
        flex: 1;
        // position: relative;
    }

    .header {

        background: #eee;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        #Layer_2 {
            width: 6rem;
            margin: 1rem 2rem;
        }

        &__title {
            color: $mainColor;
            margin: 2rem 0;
        }

        .nav-icon {
            display: none;
        }

        .wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media only screen and (max-width: 823px) {
    .home {
        height: 75%;
    }
}

@media only screen and (max-width: 768px) {
    .home {
        height: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .home {
        height: 75%;

        .main {
            height: 100%;

            .poster {
                height: 100%;
                overflow: hidden;
                background: url("../../assets/img/poster.jpg") no-repeat;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2rem;
                opacity: .9;

                &__title {
                    font-size: 15vw;
                    color: white;
                    font-weight: 400;
                    text-shadow: 2px 4px 10px rgba(0, 0, 0, .75);
                }

                &__action {
                    width: 15rem;
                    height: 3rem;
                    margin: 1rem 0;
                    background: $mainColor;
                    font-weight: 600;
                    outline: none;
                    color: white;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background: $secColor;
                    }
                }
            }
        }

        .nav {
            display: none;
        }

        .footer {
            max-width: 100%;

            &__wrap {
                position: relative;
                display: flex;
            }

            .copy {
                font-size: .75rem;
                // color: $mainColor;
            }

            .g-b {
                display: flex;
                align-items: center;
                margin: 0 1rem;

                &__title {
                    // color: $mainColor;
                    font-size: 1rem;
                    margin: 0 1rem;
                }

                &__img {
                    width: 7.5rem;
                }
            }
        }
    }
}


.cls-1 {
    fill: #231f20;
}

.cls-1,
.cls-10,
.cls-11,
.cls-2,
.cls-3,
.cls-8,
.cls-9 {
    fill-rule: evenodd;
}

.cls-2 {
    fill: #00579b;
}

.cls-3,
.cls-4 {
    fill: #fff;
}

.cls-5 {
    fill: #ed1c24;
}

.cls-6 {
    fill: #2a3c98;
}

.cls-7 {
    fill: #f58220;
}

.cls-8,
.cls-9 {
    fill: #f8e7c9;
}

.cls-11,
.cls-9 {
    stroke: #fff;
    stroke-miterlimit: 2.61;
}

.cls-9 {
    stroke-width: 0.84px;
}

.cls-10 {
    fill: #363c53;
}

.cls-11 {
    fill: #bd8e47;
    stroke-width: 0.84px;
}

.cls-12 {
    fill: #1226aa;
}